<html>
    <head>
        <title>DemoApp</title>
        <style>
            body {
                background-color: black;
                color: white;
            }
        </style>
    </head>
    <body>
        <h1>Hello @Model.VisitorName</h1>
        <b>Time of Visit: </b>@Model.VisitTime
    </body>
</html>
